.card--travel-img{
width: 126px;
height: 168px;
left: 39px;
top: 304px;
border-radius: 5px;
margin: 20px;

}

.location_logo{
    width: 15px;
    height: 20px;
}

.card{
    position: absolute;
    display: inline-flex;
    /* padding: 40px;; */
    width: 550px;
    margin: 20px;
}

.card--content{
   font-size: 12px;
    width: 350px;
}